h1 {
    font-size: 28px !important;
}
h2 {
    font-size: 22px !important;
    padding-bottom: 10px;
}
nav.navbar {
    border-radius: unset;
}
.navblock {
    max-width: 1280px;
    margin: 10px auto;
}
h1.navtitle {
    color: white;
    font-size: 24px;
    margin: 0 auto;
}
.navleft {
    float: left;
    padding-right: 30px;
}
.navright {
    float: left;
    width: 800px;
}
.navright>ul>li>a {
    padding: 5px;
}
#page {
    max-width: 1280px;
    margin: 0 auto;
}